* {
    font-family:'Playfair Display', serif, Arial, Helvetica;
    font-weight: 500;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url(../imagenes/textured_stripes.png);
    background-repeat: repeat;
    background-attachment: fixed;
   
}

a.unpublished:visited{
    color: crimson;
    justify-content: center;
}

h1 {
    background-image: url(../imagenes/banner.jpg);
    background-size: cover;
    font-family:'Tangerine', cursive;
    font-size: 5rem;
    text-align: center;
    display: inline-block;
    width: 100%;   
    height: 230px;
    margin: auto;
    padding-top: 40px;
    color: #fff;
}

h2 {
    font-size: 4rem;
    display: block;
    text-align: center;
    padding: 40px;
    letter-spacing: 10px;
    word-spacing: 10px;
    
}

/* index */
.intro {
    display: block;
    text-align: center;
    margin: auto;
    width: 600px;
    line-height: 2em;
    margin-top: 4%;
}

/* nav menu */

.nav_main {
    a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-weight: bolder;
    color: #efefef;
    background-color: slategray;
    text-align: center;
    letter-spacing: 0.2rem;
    }
}

nav ul {
    display: flex;
    margin: auto;
    list-style: none;
    margin-top: 170px;
    
    li {
        width: 100%;
        background: rgba(211, 211, 211, 0.185);
        

        &:hover #submenu li {
            display: block;
        }

        a:hover {
            transition: .5s;
            color: crimson;
        }
    }
}


.main {
    background-color: black;
    text-align: center;
    font-size: 1.4rem;
    transition: 0.7s;
    
}

#submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    width: 15%;
    left: 42%;
    background: black;
    z-index: 1;
    overflow: hidden;
    li {
        display: none;
        justify-self: center;

        &:hover {
            transform: scale(1.2,1.2);
            transition: 0.5s;
        }
    }
    
}

.destinos {
    position: relative;
}

/* CSS GRID */

.grid_parent {
    display: grid;
    grid-template-areas: 
            "foto1 texto1"
            "foto2 foto3"
            "texto2 foto4"
            "foto5 foto6"
            "foto7 texto3";
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    margin: auto;
    width: 50%;
    padding: 30px;
    border-radius: 5%;
    margin-top: 50px;
}

.a1,
.a2,
.a3 {
    line-height: 1.4em;
    text-align: center;
    align-self: center;
}

.a1 {
    grid-area: texto1;
}

.a2 {
    grid-area: texto2;
}

.a3 {
    grid-area: texto3;
}


/* contacto */

form {
    margin-top: 50px;
    padding: 40px;
    line-height: 3rem;
    text-align: center;
    
     .f1 {
                width: 35%;
                margin: auto;
                label {
                    display: block;
                }

                input {
                    width: 80%;
                    min-width: 200px;
                }
                input+input {
                    max-width: 200px;
                }
                .btn {
                    max-width: 255px;
                    margin: auto;
                    display: block;
                }
            }
            textarea {
                margin-top: 30px;
                width: 80%;
                min-width: 200px;
            }
}

/*acerca de*/

.about {
    display: block;
    text-align: center;
    margin: auto;
    width: 300px;
    line-height: 2em;

    h2 {
        font: 1.9rem bolder;
        margin: 25px;
    }
}

/* itinerarios */

.it1 {
    display: block;
    text-align: center;
    margin: auto;
    width: 600px;
    line-height: 2em;
    margin-top: 40px;
    
    h3 {
        font: 1.9rem bolder;
        margin: 25px;
    }

    h4 {
        font: 1.4rem bold;
        padding: 10px;
    }
}

/* Animaciones, Transformaciones y Transiciones */

.img {
    transition: 1s;

    &:hover {
        transform: scale(1.1, 1.1);
    }
}

/* Media queries */

@media (min-width: 901px) {
    .nav_mobile {
        display: none;
    }

    .container,
    .container1 {
        display: none;
    }

    .nav_footer {
        
        ul {
            text-align: center;
            margin: auto;
            width: 100%;
            height: auto;
            align-items: center;
            margin-top: 30px;
            background-color: slategray;
            li {
                a {
                    text-decoration: none;
                    font-family: 'Tangerine', cursive;
                    font-size: 2rem;
                    color: #efefef;
                }
            }
        }
    }
    .about {
        width: auto;
        margin-top: 80px;
        margin-bottom: 300px;
        p {
            font-size: 2rem;
            margin: 50px 0;
           
        }
    }
}

@media (max-width: 900px) {
    
    body { 
        background-image: url(../imagenes/bg2.png);
        background-size: cover;

        .container,
        .container1 {

            text-align: center;
            article {
                color: #efefef;
                letter-spacing: .1px;
                word-spacing: 2px;
                font-size: .8rem;
            }

            .carousel {
                z-index: 0;
            }
        }

        .container1 {
            margin-top: 150px;
        }

        .introbox {
            margin: 140px 0 100px;

            .intro {
                max-width: 60vw;
                margin-top: 30px;
                padding: 20px 0;
                z-index: -1;
            }
        }

        section {
            margin-top: 30px;
            
            article {
                color: #efefef;
                letter-spacing: .1px;
                word-spacing: 2px;
                font-size: .7rem;

            }
        }

        .about {
            width: auto;
            margin-top: 160px;
            margin-bottom: 300px;
            color: #eee;
            p {
                font-size: 2rem;
                margin: 50px 0;
               
            }
        }

        .it1 {
            color: #efefef;
            margin-top: 140px;
            font-size: .6rem;
            border-top: 1px solid lightgrey;
            max-width: 80vw;
        }

        form {
            color: #efefef;
            width: 100%;
            margin: 90px auto;
            line-height: 3rem;
            
            .f1 {
                width: 50%;
                margin: auto;
                label {
                    display: block;
                }

                input {
                    width: 80%;
                    min-width: 200px;
                }
                input+input {
                    max-width: 200px;
                }
                .btn {
                    max-width: 255px;
                    margin: auto;
                    display: block;
                }
            }
            textarea {
                margin-top: 30px;
                width: 80%;
                min-width: 200px;
            }
        }
    }

    .nav_mobile {

        border-bottom: 1px solid lightgrey;
        text-align: center;
        height: 70px;
        line-height: 70px;
        
        

        label {
            cursor: pointer;
            font-size: 2rem;
            color: #efefef;
            
        }

        #toggler {
            display: none;
            
            &:checked + .nav_menu {
                display: flex;
                flex-direction: column;
                
            }
        }

        .nav_menu {
            display: none;
            position: relative;
            background-color: rgba(53, 50, 50, .75);
            border-radius: 10px;
            width: 50vw;
            margin: auto;
            z-index: 2;
    
            a {
                text-decoration: none;
                color: #efefef;
                line-height: 40px;
                z-index: 2;
                &:active {
                    color: #838d97;
                }
            }
        }
    }

    .nav_main {
        
         
        #arriba {
            a {
                height: 0;
                h1 {
                    background: none;
                    padding-top: 0;
                    margin: 90px 0;
                    font-size: 2.7rem;
                    width: 100%;
                    height: auto;
                    
                }
            }
            
        }

       ul {
        display: none;
       } 
    }

    h2 {
        display: none;
    }

    .grid_parent {
        display: none;
    }

    
    .nav_footer {
        
        ul {
            text-align: center;
            margin: auto;
            width: 100%;
            height: auto;
            align-items: center;
            margin-top: 30px;
            background-color: slategray;
            li {
                a {
                    text-decoration: none;
                    font-family: 'Tangerine', cursive;
                    font-size: 2rem;
                    color: #efefef;
                }
            }
        }
    }
    
}