* {
    font-family:'Playfair Display', serif, Arial, Helvetica;
    font-weight: 500;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}


body {
    background-image: url(../imagenes/full-bloom.png);
    background-repeat: repeat;
    background-attachment: fixed;
   
}

a.unpublished:visited{
    color: crimson;
    justify-content: center;
}

h1 {
    background-image: url(../imagenes/banner.jpg);
    background-size: cover;
    font-family:'Tangerine', cursive;
    font-size: 500%;
    text-align: center;
    display: inline-block;
    width: 100%;   
    height: 230px;
    margin: auto;
    padding-top: 40px;
}

h2 {
    font-size: 4rem;
    display: block;
    text-align: center;
    padding: 40px;
    letter-spacing: 10px;
    word-spacing: 10px;
    background: linear-gradient(to bottom, #99ccff, #ff9999);
}

/* index */
.intro {
    display: block;
    text-align: center;
    margin: auto;
    width: 600px;
    line-height: 2em;
    margin-top: 4%;
}

/* nav menu */

nav a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    height: 50px;
    font-weight: bolder;
    color: white;
    background-color: slategray;
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
}

nav ul {
    display: flex;
    margin: auto;
    list-style: none;
    margin-top: 180px;
}


nav ul li {
    width: 100%;
    background: rgba(211, 211, 211, 0.185);
}

.main {
    background-color: black;
    text-align: center;
    font-size: 1.4rem;
    
}

#submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    width: 15%;
    left: 42%;
    background: black;
    z-index: 1;
    overflow: hidden;
    
}

#submenu li{
    display: none;
    justify-self: center;
}

ul li a:hover {
    background: lightgrey;
    color: crimson;
}

nav ul li:hover #submenu li{
    display: block;
    
}

.destinos {
    position: relative;
}

/* CSS GRID */

.grid_parent {
    display: grid;
    grid-template-areas: 
            "foto1 texto1"
            "foto2 foto3"
            "texto2 foto4"
            "foto5 foto6"
            "foto7 texto3";
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    margin: auto;
    width: 50%;
    padding: 30px;
    border-radius: 5%;
    margin-top: 50px;
}

.a1,
.a2,
.a3 {
    line-height: 1.4em;
    text-align: center;
    align-self: center;
}

.a1 {
    grid-area: texto1;
}

.a2 {
    grid-area: texto2;
}

.a3 {
    grid-area: texto3;
}


/* contacto */

form {
    margin-top: 150px;
    padding: 40px;
    line-height: 4rem;
    text-align: center;
}

/*acerca de*/

.about {
    display: block;
    text-align: center;
    margin: auto;
    width: 300px;
    line-height: 2em;
}

.about h2 {
    font: 1.9rem bolder;
    margin: 25px;
}

/* itinerarios */

.it1 {
    display: block;
    text-align: center;
    margin: auto;
    width: 600px;
    line-height: 2em;
    margin-top: 40px;
}

.it1 h3 {
    font: 1.9rem bolder;
    margin: 25px;
}

.it1 h4 {
    font: 1.4rem bold;
    padding: 10px;
}

/* Animaciones, Transformaciones y Transiciones */

.img {
    transition: 1s;
}

.img:hover {
    transform: scale(1.1, 1.1);
    
}

#submenu li:hover {
    transform: scale(1.2,1.2);
    transition: 0.5s;
    
}

.main {
    transition: 0.7s;
}

.fc1 {
   width: 50%;
}